@font-face {
    font-family: 'Balqis';
    src: url('Balqis.woff2') format('woff2'),
        url('Balqis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

